---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app vikunja
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: *app
  values:
    controllers:
      vikunja:
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: vikunja/vikunja
              tag: 1.0.0@sha256:096e8d4067483b770f3899e20655d6235b0b4c6c9c6ec5ef39bae5b270e1a92a

            envFrom:
              - secretRef:
                  name: &secret vikunja-secret

            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/v1/info
                    port: &port 3456
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes

            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - "ALL"

            resources:
              requests:
                cpu: 5m
                memory: 100Mi
              limits:
                memory: 500Mi

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: ${APP_UID}
        runAsGroup: ${APP_UID}
        fsGroup: ${APP_GID}
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile:
          type: RuntimeDefault

    service:
      app:
        controller: *app
        ports:
          http:
            port: *port

    serviceMonitor:
      app:
        serviceName: *app
        endpoints:
          - port: http
            scheme: http
            path: /api/v1/metrics
            interval: 30s
            scrapeTimeout: 10s

    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |-
            group: Misc
        hostnames:
          - "tasks.${SECRET_DOMAIN}"
        parentRefs:
          - name: external
            namespace: network

        rules:
          - backendRefs:
              - name: *app
                port: *port

    persistence:
      config:
        existingClaim: *app
        globalMounts:
          - path: /app/vikunja/files
      vikunja-config:
        type: secret
        name: *secret
        globalMounts:
          - path: /app/vikunja/config.yaml
            subPath: config.yaml
            readOnly: true
