---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app the-recipe-db
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: *app
  values:
    controllers:
      main:
        containers:
          main:
            image:
              repository: ghcr.io/lucas-dclrcq/the-recipe-db
              tag: 1.0-snapshot@sha256:6d3995ea7647e46007f550a914a4c814ac02c6f87bd42bd00f84407c59919901

            envFrom:
              - secretRef:
                  name: the-recipe-db-secret

            resources:
              requests:
                cpu: 12m
                memory: 64M
              limits:
                memory: 1Gi

    service:
      main:
        controller: main
        ports:
          http:
            port: &port 8080

    route:
      app:
        hostnames:
          - "the-recipe-db.${LIMITED_DOMAIN}"
        parentRefs:
          - name: internal
            namespace: network
        rules:
          - backendRefs:
              - name: *app
                port: *port
