---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app homelab-manager
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: *app
  values:
    controllers:
      homelab-manager:
        type: statefulset
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: ghcr.io/lucas-dclrcq/homelab-manager
              tag: latest@sha256:2da4cbfec141c8a46a4db8170f5c35166e8abf69b7b51749763f64bcc34f094a
            env:
              QUARKUS_HTTP_PORT: &port 80
            envFrom:
              - secretRef:
                  name: homelab-manager-secret
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /q/health/live
                    port: *port
                  initialDelaySeconds: 5
                  periodSeconds: 10
                  timeoutSeconds: 10
                  failureThreshold: 3
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /q/health/ready
                    port: *port
                  initialDelaySeconds: 5
                  periodSeconds: 10
                  timeoutSeconds: 10
                  failureThreshold: 3
            resources:
              requests:
                cpu: 12m
                memory: 256Mi
              limits:
                memory: 1Gi
      send-whats-next-report:
        type: cronjob
        cronjob:
          schedule: "0 7 * * 1" # Every monday at 7am
          successfulJobsHistory: 1
          failedJobsHistory: 3
        containers:
          main:
            image:
              repository: alpine/curl
              tag: 8.17.0
            args:
              - -X POST
              - http://homelab-manager.default.svc.cluster.local/api/notifications/send-whats-next-report
            resources:
              requests:
                cpu: 10m
                memory: 64M
              limits:
                memory: 128M
    service:
      main:
        controller: homelab-manager
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${LIMITED_DOMAIN}"
        parentRefs:
          - name: internal
            namespace: network

        rules:
          - backendRefs:
              - name: *app
                port: *port
    persistence:
      data:
        existingClaim: *app
        advancedMounts:
          homelab-manager:
            main:
              - path: /matrix
      tmp:
        type: emptyDir
        advancedMounts:
          homelab-manager:
            main:
              - path: /tmp
