---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app influxdb
spec:
  interval: 30m
  chart:
    spec:
      chart: influxdb2
      version: 2.1.2
      sourceRef:
        kind: HelmRepository
        name: influxdata-charts
        namespace: flux-system
      interval: 30m
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
  maxHistory: 2
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    image:
      repository: influxdb
      tag: 2.7.11-alpine

    pdb:
      create: false

    resources:
      limits:
        memory: 512Mi
      requests:
        cpu: 100m
        memory: 128Mi

    adminUser:
      organization: "homelab"
      user: "admin"
      retention_policy: "0s"
      bucket: "default"
      existingSecret: "influxdb-secret"

    persistence:
      enabled: true
      useExisting: true
      name: *app

    ingress:
      enabled: true
      className: internal
      hostname: influxdb.${LIMITED_DOMAIN}
      path: /
      tls: true
      secretName: "${LIMITED_DOMAIN/./-}-production-tls"
