---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: miniflux
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.1
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  values:
    controllers:
      main:
        replicas: 2
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          main:
            image:
              repository: ghcr.io/miniflux/miniflux
              tag: 2.2.5
            env:
              BASE_URL: "https://miniflux.${SECRET_DOMAIN}"
              CREATE_ADMIN: "0"
              DEBUG: "1"
              LOG_DATE_TIME: "1"
              POLLING_SCHEDULER: "entry_frequency"
              POLLING_FREQUENCY: "15"
              METRICS_COLLECTOR: "1"
              METRICS_ALLOWED_NETWORKS: "10.69.0.0/16"
              CLEANUP_ARCHIVE_UNREAD_DAYS: "-1"
              CLEANUP_ARCHIVE_READ_DAYS: "-1"
              RUN_MIGRATIONS: "1"
              OAUTH2_USER_CREATION: "1"
              OAUTH2_PROVIDER: oidc
              OAUTH2_REDIRECT_URL: "https://miniflux.${SECRET_DOMAIN}/oauth2/oidc/callback"

            envFrom:
              - secretRef:
                  name: miniflux-secret
              - secretRef:
                  name: miniflux-db-secret

            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  initialDelaySeconds: 30
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
                  httpGet:
                    path: /healthcheck
                    port: 8080

            resources:
              requests:
                cpu: 12m
                memory: 64M
              limits:
                memory: 256M

    service:
      main:
        controller: main
        ports:
          http:
            port: 8080

    serviceMonitor:
      app:
        serviceName: miniflux
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 10s

    ingress:
      main:
        className: external
        annotations:
          external-dns.alpha.kubernetes.io/target: "external.${SECRET_DOMAIN}"
        hosts:
          - host: "{{ .Release.Name }}.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: main
                  port: http
