---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: mautrix-discord
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: akeyless-secret-store
  target:
    name: mautrix-discord-secret
    template:
      engineVersion: v2
      templateFrom:
        - target: Data
          configMap:
            name: mautrix-discord-base-config
            items:
              - key: config.yaml
                templateAs: Values
        - target: Data
          configMap:
            name: mautrix-discord-base-config
            items:
              - key: registration.yaml
                templateAs: Values
        - target: Data
          configMap:
            name: mautrix-discord-base-config
            items:
              - key: double-puppet-registration.yaml
                templateAs: Values
  dataFrom:
    - extract:
        key: matrix/mautrix-bridge
      sourceRef:
        storeRef:
          kind: ClusterSecretStore
          name: hashicorp-vault
    - extract:
        key: postgres-16-pguser-mautrixdiscord
      sourceRef:
        storeRef:
          kind: ClusterSecretStore
          name: crunchy-pgo-secrets
      rewrite:
        - regexp:
            source: "(.*)"
            target: "pg_$1"
