---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: the-elder-scrobz
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: akeyless-secret-store
  target:
    name: the-elder-scrobz-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        SCROBZ__database_url: "{{ .pg_uri }}"
        SCROBZ__oidc__client_id: "{{ .SCROBZ_OIDC_CLIENT_ID }}"
        SCROBZ__oidc__client_secret: "{{ .SCROBZ_OIDC_CLIENT_SECRET }}"
        SCROBZ__oidc__provider_url: "{{ .SCROBZ_OIDC_PROVIDER_URL }}"
        SCROBZ__oidc__domain: "{{ .SCROBZ_OIDC_DOMAIN }}"
        SCROBZ__navidrome__server_url: https://music-api.${SECRET_DOMAIN}
        SCROBZ__navidrome__frontend_url: https://music.${SECRET_DOMAIN}
        SCROBZ__navidrome__username: "{{ .SCROBZ_NAVIDROME_USERNAME }}"
        SCROBZ__navidrome__password: "{{ .SCROBZ_NAVIDROME_PASSWORD }}"
        SCROBZ__discogs__key: "{{ .SCROBZ_DISCOGS_KEY }}"
        SCROBZ__discogs__secret: "{{ .SCROBZ_DISCOGS_SECRET }}"

  dataFrom:
    - extract:
        key: media/the-elder-scrobz
      sourceRef:
        storeRef:
          kind: ClusterSecretStore
          name: hashicorp-vault
    - extract:
        key: postgres-16-pguser-elderscrobz
      sourceRef:
        storeRef:
          kind: ClusterSecretStore
          name: crunchy-pgo-secrets
      rewrite:
        - regexp:
            source: "(.*)"
            target: "pg_$1"
