---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app the-elder-scrobz
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      the-elder-scrobz:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: ghcr.io/oknozor/the-elder-scrobz
              tag: latest@sha256:8f5e0db191283aa9e0659dcc12192bd5aace039a517ae0e439e6fdb584d63e75
            env:
              SCROBZ__debug: "false"
              SCROBZ__port: &port 3000
              SCROBZ__coverart_path: "/.cache"
              RUST_LOG: tower_http=debug,axum=debug,scrobz=debug,elder_scrobz_api=debug,elder_scrobz_crawler=debug
            envFrom:
              - secretRef:
                  name: the-elder-scrobz-secret
            resources:
              requests:
                cpu: 12m
                memory: 256Mi
              limits:
                memory: 1Gi
    service:
      main:
        controller: *app
        ports:
          http:
            port: *port
    serviceMonitor:
      app:
        serviceName: *app
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 10s
    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |-
            group: Media
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
          - name: external
            namespace: network
        rules:
          - backendRefs:
              - name: multi-scrobbler
                port: 9078
            matches:
              - path:
                  value: /api/v1/1
                headers:
                  - name: "Authorization"
                    value: "Token ${SCROBBLE_TOKEN}"
            filters:
              - type: URLRewrite
                urlRewrite:
                  path:
                    type: ReplacePrefixMatch
                    replacePrefixMatch: /1
          - backendRefs:
              - name: *app
                port: *port
            filters:
              - type: ResponseHeaderModifier
                responseHeaderModifier:
                  add:
                    - name: "X-Frame-Options"
                      value: "SAMEORIGIN"
    persistence:
      cache:
        existingClaim: *app
        advancedMounts:
          the-elder-scrobz:
            main:
              - path: /.cache
