---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: alertmanager
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: hashicorp-vault
  target:
    name: alertmanager-secret
    template:
      engineVersion: v2
      data:
        ALERTMANAGER_HEARTBEAT_URL: "{{ .ALERTMANAGER_HEARTBEAT_URL }}"
        GATUS_HEARTBEAT_URL: "{{ .GATUS_HEARTBEAT_URL }}"
        GATUS_API_TOKEN: "{{ .GATUS_API_TOKEN }}"
        ALERTMANAGER_PUSHOVER_TOKEN: "{{ .ALERTMANAGER_PUSHOVER_TOKEN }}"
        PUSHOVER_USER_KEY: "{{ .PUSHOVER_USER_KEY }}"
  dataFrom:
    - extract:
        key: cloud/pushover
    - extract:
        key: observability/alertmanager/config
