---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./ocirepository.yaml
  - ./helmrelease.yaml
  - ./prometheusrule.yaml
configMapGenerator:
  - name: smartctl-exporter-dashboard
    files:
      - smartctl-dashboard.json=./resources/grafana_dashboard.json
commonAnnotations:
  grafana_folder: default
generatorOptions:
  disableNameSuffixHash: true
  labels:
    grafana_dashboard: "1"
