---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: synapse-usage-exporter
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      synapse-usage-exporter:
        containers:
          app:
            image:
              repository: loelkes/synapse-usage-exporter
              tag: 0.1.0@sha256:1a6699e8b05249665e4dfc2a252dadaba068ed418a84eb230c8f42854ca8c5fc
            env:
              PROMETHEUS_MULTIPROC_DIR: "/tmp"

    service:
      app:
        controller: synapse-usage-exporter
        ports:
          http:
            port: 5000

    serviceMonitor:
      app:
        serviceName: synapse-usage-exporter
        endpoints:
          - port: metrics
            scheme: http
            path: /
            interval: 1m
            scrapeTimeout: 10s
