---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app netshoot
spec:
  chartRef:
    kind: OCIRepository
    name: *app
  dependsOn: []
  interval: 15m
  values:
    controllers:
      searxng:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: ghcr.io/nicolaka/netshoot
              tag: v0.14

            command:
              - "/bin/bash"
            args:
              - "-c"
              - "while true; do ping localhost; sleep 60;done"
    defaultPodOptions:
      annotations:
        k8s.v1.cni.cncf.io/networks: |-
          [{
            "name": "vpn",
            "namespace": "kube-system",
            "ips": ["192.168.70.42/24"],
            "mac": "02:5e:3a:49:c2:02"
          }]
