---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: jellystat
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: hashicorp-vault
  target:
    name: jellystat-secret
    template:
      engineVersion: v2
      data:
        JWT_SECRET: "{{ .JWT_SECRET }}"
        JS_GEOLITE_ACCOUNT_ID: "{{ .MAXMIND_USER_ID }}"
        JS_GEOLITE_LICENSE_KEY: "{{ .MAXMIND_LICENSE_KEY }}"
  dataFrom:
    - extract:
        key: media/jellystat/config
    - extract:
        key: cloud/maxmind
---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: jellystat-db-secret
spec:
  refreshInterval: 1m
  secretStoreRef:
    name: crunchy-pgo-secrets
    kind: ClusterSecretStore
  target:
    name: jellystat-db-secret
    template:
      engineVersion: v2
      data:
        POSTGRES_IP: '{{ index . "host" }}'
        POSTGRES_PORT: '{{ index . "port" }}'
        POSTGRES_DB: '{{ index . "dbname" }}'
        POSTGRES_USER: '{{ index . "user" }}'
        POSTGRES_PASSWORD: '{{ index . "password" }}'
  dataFrom:
    - extract:
        key: postgres-16-pguser-jellystat
