---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: element
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      element:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: vectorim/element-web
              tag: v1.11.95@sha256:92741dbd9f9f0600ad5c8151da5b56e1e70f8d0b72dd31acc0f22cae5e98a356

    service:
      app:
        controller: element
        ports:
          http:
            port: 80

    ingress:
      app:
        className: external
        annotations:
          nginx.ingress.kubernetes.io/configuration-snippet: |
            add_header X-Frame-Options SAMEORIGIN;
            add_header X-Content-Type-Options nosniff;
            add_header X-XSS-Protection "1; mode=block";
            add_header Content-Security-Policy "frame-ancestors 'none'";
          external-dns.alpha.kubernetes.io/target: "external.${SECRET_DOMAIN}"
        hosts:
          - host: "{{ .Release.Name }}.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http

    persistence:
      config:
        enabled: true
        type: configMap
        name: element-config
        globalMounts:
          - path: /app/config.json
            subPath: config.json
