---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app outline
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: *app
  values:
    controllers:
      outline:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: docker.io/outlinewiki/outline
              tag: 1.4.0

            envFrom:
              - secretRef:
                  name: outline-secret

            env:
              URL: "https://docs.${SECRET_DOMAIN}"
              PORT: &port 8080
              ENABLE_UPDATES: "false"
              LOG_LEVEL: warn
              NODE_TLS_REJECT_UNAUTHORIZED: "0"
              DEFAULT_LANGUAGE: fr_FR
              FILE_STORAGE: local
              FILE_STORAGE_LOCAL_ROOT_DIR: &storage_path /var/lib/outline/data
              FILE_STORAGE_UPLOAD_MAX_SIZE: "26214400"
              WEB_CONCURRENCY: "10"

            resources:
              requests:
                cpu: 10m
                memory: 250Mi
              limits:
                memory: 2Gi

    service:
      app:
        controller: *app
        ports:
          http:
            port: *port

    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |-
            group: Misc
        hostnames:
          - "docs.${SECRET_DOMAIN}"
        parentRefs:
          - name: external
            namespace: network

        rules:
          - backendRefs:
              - name: *app
                port: *port

    persistence:
      data:
        existingClaim: *app
        globalMounts:
          - path: *storage_path
