---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app librechat
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: *app
  values:
    librechat:
      configEnv:
        OPENID_ISSUER: https://sso.${SECRET_DOMAIN}/application/o/librechat/.well-known/openid-configuration
        OPENID_CLIENT_ID: "$${OPENID_CLIENT_ID}"
        OPENID_CLIENT_SECRET: "$${OPENID_CLIENT_SECRET}"
        OPENID_SESSION_SECRET: "$${OPENID_SESSION_SECRET}"
        OPENID_CALLBACK_URL: /oauth/openid/callback
        OPENID_SCOPE: openid profile email
        OPENID_BUTTON_LABEL: SSO
        OPENID_GENERATE_NONCE: "true"
        OPENID_USE_END_SESSION_ENDPOINT: "true"
    librechat-rag-api:
      enabled: false
    mongodb:
      global:
        security:
          allowInsecureImages: true
      image:
        registry: registry-1.docker.io
        repository: bitnami/mongodb
        tag: latest
      persistence:
        storageClass: ceph-block
