---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app trilium
spec:

  interval: 15m

  chart:
    spec:
      chart: app-template
      version: 3.7.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  maxHistory: 2

  install:
    createNamespace: true
    remediation:
      retries: 3

  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3

  uninstall:
    keepHistory: false

  values:

    controllers:
      *app :
        type: statefulset

        containers:
          *app :
            image:
              repository: ghcr.io/triliumnext/notes
              tag: v0.91.6

            env:
              TZ: ${TIMEZONE}
              TRILIUM_DATA_DIR: &datadir /trilium-data

            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: false

    service:
      *app :
        controller: *app
        ports:
          http:
            port: &port 8080

    ingress:
      external:
        className: external
        annotations:
          external-dns.alpha.kubernetes.io/target: external.${SECRET_DOMAIN}
        hosts:
          - host: trilium.${SECRET_DOMAIN}
            paths:
              - path: /
                service:
                  identifier: *app
                  port: *port

    persistence:
      trilium-data:
        existingClaim: *app
        globalMounts:
          - path: *datadir
