---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: matrix-bridge-discord
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      matrix-bridge-discord:
        annotations:
          reloader.stakater.com/auto: "true"

        initContainers:
          load-config:
            image:
              repository: ghcr.io/matrix-org/matrix-appservice-discord
              tag: v4.0.0
            command:
              - "/bin/sh"
              - "-c"
              - "ls /config; cp /config/registration.yml /data/discord-registration.yaml; cp /config/config.yml /data/config.yaml; ls /data;"

        containers:
          app:
            image:
              repository: halfshot/matrix-appservice-discord
              tag: latest

            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
                spec:
                  failureThreshold: 30
                  periodSeconds: 5

            resources:
              requests:
                cpu: 48m
                memory: 146M
              limits:
                memory: 512Mi

    service:
      app:
        controller: matrix-bridge-discord
        ports:
          http:
            port: 9005

    persistence:
      config:
        enabled: true
        type: secret
        name: matrix-bridge-discord-secret
      data:
        enabled: true
        existingClaim: matrix-bridge-discord
