---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app sqq-vente-groupee-staging
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: *app
  values:
    controllers:
      main:
        replicas: 2
        containers:
          main:
            image:
              repository: ghcr.io/superquinquin-sur-deule/sqq-achat-groupe
              tag: latest@sha256:9b4704d19fdd33890833df5d2a3f1d0208ee3aadc934c10c1d033803d75a5b17

            envFrom:
              - secretRef:
                  name: sqq-vente-groupee-staging-secret

            resources:
              requests:
                cpu: 12m
                memory: 64M
              limits:
                memory: 1Gi

    service:
      main:
        controller: main
        ports:
          http:
            port: &port 8080

    route:
      app:
        hostnames:
          - "sqq-vente-groupee-staging.${SECRET_DOMAIN}"
        parentRefs:
          - name: external
            namespace: network
        rules:
          - backendRefs:
              - name: *app
                port: *port
