---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.jsonapiVersion: helm.toolkit.fluxcd.io/v2
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app kagent
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: *app
  values:
    app:
      image:
        tag: &version 0.7.4
    controller:
      agentImage:
        tag: *version
      image:
        tag: *version
    tools:
      image:
        tag: *version
    ui:
      image:
        tag: *version
    agents:
      istio-agent:
        enabled: false
      argo-rollouts-agent:
        enabled: false
      kgateway-agent:
        enabled: false

    providers:
      default: openAI
      openAI:
        apiKeySecretRef: kagent-secret
        apiKeySecretKey: OPENAI_API_KEY
  postRenderers:
    - kustomize:
        patches:
          - patch: |-
              - op: replace
                path: /metadata/labels/app.kubernetes.io~1version
                value: 0.7.4
            target:
              kind: ServiceAccount
          - patch: |-
              - op: replace
                path: /metadata/labels/app.kubernetes.io~1version
                value: 0.7.4
            target:
              kind: Secret
          - patch: |-
              - op: replace
                path: /metadata/labels/app.kubernetes.io~1version
                value: 0.7.4
            target:
              kind: ClusterRole
          - patch: |-
              - op: replace
                path: /metadata/labels/app.kubernetes.io~1version
                value: 0.7.4
            target:
              kind: ClusterRoleBinding
          - patch: |-
              - op: replace
                path: /metadata/labels/app.kubernetes.io~1version
                value: 0.7.4
            target:
              kind: Service
          - patch: |-
              - op: replace
                path: /metadata/labels/app.kubernetes.io~1version
                value: 0.7.4
            target:
              kind: ModelConfig
          - patch: |-
              - op: replace
                path: /metadata/labels/app.kubernetes.io~1version
                value: 0.7.4
            target:
              kind: Deployment
          - patch: |-
              - op: replace
                path: /metadata/labels/app.kubernetes.io~1version
                value: 0.7.4
            target:
              kind: RemoteMCPServer
