---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: bazarr-db
spec:
  secretStoreRef:
    name: crunchy-pgo-secrets
    kind: ClusterSecretStore
  target:
    name: bazarr-db-secret
    template:
      type: Opaque
      data:
        POSTGRES_ENABLED: "true"
        POSTGRES_HOST: "postgres-16-pgbouncer.infrastructure.svc.cluster.local"
        POSTGRES_PORT: "5432"
        POSTGRES_DATABASE: "bazarr"
        POSTGRES_PASSWORD: '{{ index . "password" }}'
        POSTGRES_USERNAME: '{{ index . "user" }}'
  dataFrom:
    - extract:
        key: postgres-16-pguser-bazarr
