---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app keycloak-operator
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: *app
  values:
    crds:
      keep: false
      install: true
