---
# yaml-language-server: $schema=https://datreeio.github.io/CRDs-catalog/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app tuppr
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: *app
  values:
    replicaCount: 2
    monitoring:
      serviceMonitor:
        enabled: true
