---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app sqq-sondages
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: *app
  values:
    controllers:
      main:
        replicas: 1
        containers:
          main:
            image:
              repository: ghcr.io/superquinquin-sur-deule/sqq-sondages
              tag: latest@sha256:8f1ecb2f52b29cff8b8a83e60ddbdaefcdba82b591286f9ac721c6989c673a6c

            envFrom:
              - secretRef:
                  name: sqq-sondages-secret

            resources:
              requests:
                cpu: 12m
                memory: 64M
              limits:
                memory: 1Gi

    service:
      main:
        controller: main
        ports:
          http:
            port: &port 8080

    route:
      app:
        hostnames:
          - "sondages.superquinquin-sur-deule.org"
        parentRefs:
          - name: external
            namespace: network
        rules:
          - backendRefs:
              - name: *app
                port: *port
