---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app sqq-sondages
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: *app
  values:
    controllers:
      main:
        replicas: 1
        containers:
          main:
            image:
              repository: ghcr.io/superquinquin-sur-deule/sqq-sondages
              tag: latest@sha256:f0a749779b63c8b7dd5b9d99284b2bb15e38560b713484ec37482626009b2a5d

            envFrom:
              - secretRef:
                  name: sqq-sondages-secret

            resources:
              requests:
                cpu: 12m
                memory: 64M
              limits:
                memory: 1Gi

    service:
      main:
        controller: main
        ports:
          http:
            port: &port 8080

    route:
      app:
        hostnames:
          - "sondages.${SQQ_DOMAIN}"
        parentRefs:
          - name: external
            namespace: network
        rules:
          - backendRefs:
              - name: *app
                port: *port
