---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app apprise
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
  values:
    controllers:
      apprise:
        containers:
          app:
            image:
              repository: docker.io/caronc/apprise
              tag: 1.1.8

            env:
              TZ: "${TIMEZONE}"

            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 1024Mi
    service:
      app:
        controller: apprise
        ports:
          http:
            port: 8000

    ingress:
      app:
        className: internal
        hosts:
          - host: apprise.${LIMITED_DOMAIN}
            paths:
              - path: /
                service:
                  identifier: app
                  port: http

    persistence:
      config:
        existingClaim: *app
