---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: baibot
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      baibot:
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: ghcr.io/etkecc/baibot
              tag: v1.4.1@sha256:63c09c5891304edd902537ec7048f1b98dfb91ea5c8463211a3d0ca950215ec5

            env:
              BAIBOT_PERSISTENCE_DATA_DIR_PATH: /data
              BAIBOT_CONFIG_FILE_PATH: /config/config.yml
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
                spec:
                  failureThreshold: 30
                  periodSeconds: 5

            resources:
              requests:
                cpu: 48m
                memory: 146M
              limits:
                memory: 512Mi

    service:
      app:
        controller: baibot
        ports:
          http:
            port: 9005

    persistence:
      config:
        enabled: true
        type: secret
        name: baibot-secret
      data:
        enabled: true
        existingClaim: baibot
