---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: baibot
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: -1
  uninstall:
    keepHistory: false
  values:
    controllers:
      baibot:
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: ghcr.io/etkecc/baibot
              tag: v1.10.0@sha256:3fd037f2119eb91f0a8579866058c3143a7a3471d076d267d5fd5d73017a3d0a

            env:
              BAIBOT_PERSISTENCE_DATA_DIR_PATH: /data
              BAIBOT_CONFIG_FILE_PATH: /config/config.yml
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
                spec:
                  failureThreshold: 30
                  periodSeconds: 5

            resources:
              requests:
                cpu: 48m
                memory: 146M
              limits:
                memory: 512Mi

    service:
      app:
        controller: baibot
        ports:
          http:
            port: 9005

    persistence:
      config:
        enabled: true
        type: secret
        name: baibot-secret
      data:
        enabled: true
        existingClaim: baibot
