---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app grist
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: *app
  values:
    controllers:
      grist:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: docker.io/gristlabs/grist
              tag: 1.7.8

            envFrom:
              - secretRef:
                  name: grist-secret

            env:
              GRIST_ORG_IN_PATH: true
              GRIST_FORCE_LOGIN: true
              APP_HOME_URL: https://sheets.hoohoot.org

            resources:
              requests:
                cpu: 10m
                memory: 250Mi
              limits:
                memory: 750Mi

    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 8484

    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |-
            group: Misc
        hostnames:
          - "sheets.${SECRET_DOMAIN}"
        parentRefs:
          - name: external
            namespace: network

        rules:
          - backendRefs:
              - name: *app
                port: *port
            timeouts:
              request: 0s # websocket, never time out
              backendRequest: 0s # websocket, never time out
    persistence:
      data:
        existingClaim: *app
        globalMounts:
          - path: /persist
