---
connectivity:
  checker:
    target: 1.1.1.1:53
    interval: 1m

endpoints:
  - name: Cloudflare
    group: connectivity
    url: icmp://1.1.1.1
    interval: 1m
    conditions:
      - "[CONNECTED] == true"

  - name: Google
    group: connectivity
    url: icmp://8.8.8.8
    interval: 1m
    conditions:
      - "[CONNECTED] == true"

  - name: Quad9
    group: connectivity
    url: icmp://9.9.9.9
    interval: 1m
    conditions:
      - "[CONNECTED] == true"

metrics: true

storage:
  type: sqlite
  caching: true
  path: $${GATUS_CONFIG_PATH}/gatus.db

ui:
  header: Hoohoot
  link: https://status.${SECRET_DOMAIN}
  dark-mode: false
  default-sort-by: group
  buttons:
    - name: "Home"
      link: "https://sso.${SECRET_DOMAIN}"

alerting:
  matrix:
    server-url: "http://synapse-matrix-synapse.matrix.svc.cluster.local:8008"
    access-token: {? {.MATRIX_TOKEN: ''} : ''}
    internal-room-id: "!IccgAPArvRtfPCBFPF:${SECRET_DOMAIN}"
    default-alert:
      description: health-check failed
      send-on-resolved: true
      failure-threshold: 3
      success-threshold: 3

web:
  port: $${WEB_PORT}
