# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app whisper
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      *app:
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: onerahmet/openai-whisper-asr-webservice
              tag: v1.7.1@sha256:9c2d9b93137067377044928ebd0766b747283c7f1416a85e05b0eb97998ddfe0

            env:
              TZ: ${TIMEZONE}
              ASR_MODEL: small # tiny, base, small, medium, large, large-v1, large-v2 and large-v3
              ASR_ENGINEL: faster_whisper # openai_whisper, faster_whisper

            resources:
              requests:
                cpu: 500m
                memory: 1Gi
              limits:
                memory: 12Gi

    service:
      app:
        controller: *app
        ports:
          http:
            port: 9000

    persistence:
      cache:
        existingClaim: *app
        globalMounts:
          - path: /root/.cache/whisper
