---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: bichon
spec:
  chartRef:
    kind: OCIRepository
    name: bichon
  interval: 30m
  values:
    controllers:
      bichon:
        annotations:
          reloader.stakater.com/auto: "true"

        pod:
          securityContext:
            runAsUser: ${APP_UID}
            runAsGroup: ${APP_GID}
            fsGroup: ${APP_GID}
            runAsNonRoot: true
            fsGroupChangePolicy: OnRootMismatch

        containers:
          app:
            image:
              repository: docker.io/rustmailer/bichon
              tag: 0.3.4

            env:
              BICHON_HTTP_PORT: &httpPort 15630
              BICHON_LOG_LEVEL: info
              BICHON_PUBLIC_URL: https://bichon.bjw-s.dev
              BICHON_ROOT_DIR: /data

            envFrom:
              - secretRef:
                  name: bichon-secret

            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: *httpPort
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes

            resources:
              requests:
                cpu: 10m
              limits:
                memory: 2Gi

            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
    service:
      app:
        ports:
          http:
            port: *httpPort
    persistence:
      data:
        type: nfs
        server: "truenas.${INTERNAL_DOMAIN}"
        path: /mnt/tank/Apps/bichon

    route:
      app:
        hostnames:
          - bichon.${LIMITED_DOMAIN}
        parentRefs:
          - name: internal
            namespace: network
