---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app changedetection
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: *app
  values:
    controllers:
      app:
        containers:
          main:
            image:
              repository: ghcr.io/dgtlmoon/changedetection.io
              tag: "0.50.39@sha256:f67668a25429725de212becbdb5d8d783d715b4c99b94da7222a6035ba9f74f6"

            env:
              TZ: ${CONFIG_TIMEZONE}
              PORT: &port 5000
              USE_X_SETTINGS: 1
              PLAYWRIGHT_DRIVER_URL: ws://localhost:3000/?stealth=1&--disable-web-security=true&--user-data-dir=~/browserless-cache-123

            resources:
              requests:
                cpu: 10m
                memory: 106Mi
              limits:
                memory: 106Mi

          browser:
            image:
              repository: docker.io/browserless/chrome
              tag: latest@sha256:57d19e414d9fe4ae9d2ab12ba768c97f38d51246c5b31af55a009205c136012f
              pullPolicy: IfNotPresent

            env:
              - {name: SCREEN_WIDTH, value: "1920"}
              - {name: SCREEN_HEIGHT, value: "1024"}
              - {name: SCREEN_DEPTH, value: "16"}
              - {name: ENABLE_DEBUGGER, value: "false"}
              - {name: PREBOOT_CHROME, value: "true"}
              - {name: CONNECTION_TIMEOUT, value: "300000"}
              - {name: MAX_CONCURRENT_SESSIONS, value: "1"}
              - {name: CHROME_REFRESH_TIME, value: "600000"}
              - {name: DEFAULT_BLOCK_ADS, value: "true"}
              - {name: DEFAULT_STEALTH, value: "true",}

            resources:
              requests:
                cpu: 10m
                memory: 1Gi
              limits:
                memory: 2Gi

    service:
      app:
        controller: app
        ports:
          http:
            port: *port

    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${LIMITED_DOMAIN}"
        parentRefs:
          - name: internal
            namespace: network

        rules:
          - backendRefs:
              - name: *app
                port: *port

    persistence:
      datastore:
        existingClaim: *app
