---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app garage-webui
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: *app
  values:
    controllers:
      garage-webui:
        annotations:
          secret.reloader.stakater.com/reload: garage-secret
        containers:
          app:
            image:
              repository: khairul169/garage-webui
              tag: 1.1.0@sha256:17c793551873155065bf9a022dabcde874de808a1f26e648d4b82e168806439c
            env:
              API_BASE_URL: http://garage.infrastructure.svc.cluster.local:3903
              S3_ENDPOINT_URL: http://garage.infrastructure.svc.cluster.local:3900
              API_ADMIN_KEY:
                valueFrom:
                  secretKeyRef:
                    name: garage-secret
                    key: GARAGE_ADMIN_TOKEN
            envFrom:
              - secretRef:
                  name: garage-secret
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: [ALL]}
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 128Mi
    service:
      app:
        ports:
          http:
            port: &port 3909
    route:
      app:
        hostnames:
          - "garage-ui.${LIMITED_DOMAIN}"
        parentRefs:
          - name: internal
            namespace: network
        rules:
          - backendRefs:
              - name: *app
                port: *port
    persistence:
      config:
        enabled: true
        type: configMap
        name: garage-configmap
        globalMounts:
          - path: /etc/garage.toml
            subPath: configuration.toml
