---
apiVersion: observability.giantswarm.io/v1alpha2
kind: Silence
metadata:
  name: nfs-mount-diskspace
spec:
  matchers:
    - name: alertname
      value: CephNodeDiskspaceWarning
    - name: mountpoint
      value: /etc/nfsmount.conf
