---
apiVersion: observability.giantswarm.io/v1alpha2
kind: Silence
metadata:
  name: truenas-memory-usage
spec:
  matchers:
    - name: alertname
      value: NodeMemoryHighUtilization
    - name: instance
      value: truenas.${INTERNAL_DOMAIN}:9100
