---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: synatainer
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.1
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  values:
    controllers:
      auto-compressor:
        type: cronjob
        annotations:
          reloader.stakater.com/auto: "true"

        cronjob:
          schedule: "0 2 * * *" # Every day at 2am
          successfulJobsHistory: 1
          failedJobsHistory: 3

        containers:
          main:
            image:
              repository: registry.gitlab.com/mb-saces/synatainer
              tag: 0.4.4

            env:
              SYNAPSE_HOST: http://synapse-matrix-synapse.matrix.svc.cluster.local:8008
              STATE_AUTOCOMPRESSOR_CHUNKS_TO_COMPRESS: 100
              STATE_AUTOCOMPRESSOR_CHUNK_SIZE: 500

            envFrom:
              - secretRef:
                  name: synatainer-secret
              - secretRef:
                  name: synatainer-db-secret

            command: ["autocompressor.sh"]

            resources:
              requests:
                cpu: 12m
                memory: 64M
              limits:
                memory: 256M

      purge-rooms:
        type: cronjob
        annotations:
          reloader.stakater.com/auto: "true"

        cronjob:
          schedule: "0 3 * * *" # Every day at 3am
          successfulJobsHistory: 1
          failedJobsHistory: 1

        containers:
          main:
            image:
              repository: registry.gitlab.com/mb-saces/synatainer
              tag: 0.4.4

            env:
              SYNAPSE_HOST: http://synapse-matrix-synapse.matrix.svc.cluster.local:8008

            envFrom:
              - secretRef:
                  name: synatainer-secret
              - secretRef:
                  name: synatainer-db-secret

            command: ["purge_rooms_no_local_members.sh"]

            resources:
              requests:
                cpu: 12m
                memory: 64M
              limits:
                memory: 256M

      purge-history:
        type: cronjob
        annotations:
          reloader.stakater.com/auto: "true"

        cronjob:
          schedule: "0 5 * * 1" # Every monday at 5am
          successfulJobsHistory: 1
          failedJobsHistory: 1

        containers:
          main:
            image:
              repository: registry.gitlab.com/mb-saces/synatainer
              tag: 0.4.4

            env:
              SYNAPSE_HOST: http://synapse-matrix-synapse.matrix.svc.cluster.local:8008
              HISTORY_MAX_AGE: 180
              HISTORY_ROOM_LIST: all

            envFrom:
              - secretRef:
                  name: synatainer-secret
              - secretRef:
                  name: synatainer-db-secret

            command: ["purge_history.sh"]

            resources:
              requests:
                cpu: 12m
                memory: 64M
              limits:
                memory: 256M

      vacuum:
        type: cronjob
        annotations:
          reloader.stakater.com/auto: "true"

        cronjob:
          schedule: "0 4 1 * *" # First day of every month at 4:00 am
          successfulJobsHistory: 1
          failedJobsHistory: 1

        containers:
          main:
            image:
              repository: registry.gitlab.com/mb-saces/synatainer
              tag: 0.4.4

            envFrom:
              - secretRef:
                  name: synatainer-db-secret

            command: ["stui", "vacuum-db", "--full"]

            resources:
              requests:
                cpu: 12m
                memory: 64M
              limits:
                memory: 256M
