---
# yaml-language-server: $schema=https://kubernetes-schemas.zinn.ca/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: authentik
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: hashicorp-vault
  target:
    name: authentik-secret
    creationPolicy: Owner
    deletionPolicy: "Delete"
    template:
      engineVersion: v2
      data:
        AUTHENTIK_SECRET_KEY: "{{ .authentik_SECRET_KEY }}"

        #        AUTHENTIK_STORAGE__MEDIA__BACKEND: s3
        #        AUTHENTIK_STORAGE__MEDIA__S3__ACCESS_KEY: "{{ .authentik_S3_ACCESS_KEY }}"
        #        AUTHENTIK_STORAGE__MEDIA__S3__SECRET_KEY: "{{ .authentik_S3_SECRET_KEY }}"
        #        AUTHENTIK_STORAGE__MEDIA__S3__BUCKET_NAME: authentik
        #        AUTHENTIK_STORAGE__MEDIA__S3__REGION: garage
        #        AUTHENTIK_STORAGE__MEDIA__S3__ENDPOINT_URL: https://garage.${SECRET_DOMAIN}
        #        AUTHENTIK_STORAGE__MEDIA__S3__CUSTOM_DOMAIN: authentik.garage.${SECRET_DOMAIN}

        AUTHENTIK_EMAIL__HOST: "smtp-relay.infrastructure.svc.cluster.local"
        AUTHENTIK_EMAIL__PORT: "2525"
        AUTHENTIK_EMAIL__USE_TLS: "false"
        AUTHENTIK_EMAIL__USE_SSL: "false"
        AUTHENTIK_EMAIL__FROM: "sso@${SECRET_DOMAIN}"
  dataFrom:
    - extract:
        key: auth/authentik/config
      rewrite:
        - regexp:
            source: "(.*)"
            target: "authentik_$1"
    - extract:
        key: infrastructure/dragonfly/config
      rewrite:
        - regexp:
            source: "(.*)"
            target: "dragonfly_$1"
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: authentik-db
spec:
  secretStoreRef:
    name: crunchy-pgo-secrets
    kind: ClusterSecretStore
  target:
    name: authentik-db-secret
    template:
      engineVersion: v2
      data:
        AUTHENTIK_POSTGRESQL__HOST: '{{ index . "host" }}'
        AUTHENTIK_POSTGRESQL__PORT: '{{ index . "port" }}'
        AUTHENTIK_POSTGRESQL__NAME: '{{ index . "dbname" }}'
        AUTHENTIK_POSTGRESQL__USE_PGBOUNCER: "false"
        AUTHENTIK_POSTGRESQL__PASSWORD: '{{ index . "password" }}'
        AUTHENTIK_POSTGRESQL__USER: '{{ index . "user" }}'
  dataFrom:
    - extract:
        key: postgres-16-pguser-sso
