---
# yaml-language-server: $schema=https://kubernetes-schemas.zinn.ca/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: authentik
spec:
  interval: 30m
  chart:
    spec:
      chart: authentik
      version: 2025.2.2
      sourceRef:
        kind: HelmRepository
        name: authentik
        namespace: flux-system
      interval: 5m
  values:
    global:
      podAnnotations:
        reloader.stakater.com/auto: "true"

      envFrom:
        - secretRef:
            name: authentik-secret
        - secretRef:
            name: authentik-db-secret

    redis:
      enabled: false

    server:
      autoscaling:
        enabled: true
        minReplicas: 2
      metrics:
        enabled: true
        serviceMonitor:
          enabled: true

      ingress:
        enabled: true
        ingressClassName: external
        annotations:
          external-dns.alpha.kubernetes.io/target: external.${SECRET_DOMAIN}
        hosts:
          - sso.${SECRET_DOMAIN}

    worker:
      autoscaling:
        enabled: true
        minReplicas: 2

    prometheus:
      rules:
        enabled: true
