---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./referencegrants
  - ./externalsecret.yaml
  - ./helmrelease.yaml
configMapGenerator:
  - name: authentik-dashboard
    files:
      - authentik.json=./resources/grafana_dashboard.json
generatorOptions:
  annotations:
    kustomize.toolkit.fluxcd.io/substitute: disabled
    grafana_folder: Apps
  labels:
    grafana_dashboard: "true"
  disableNameSuffixHash: true
