---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app synapse
  namespace: flux-system
spec:
  targetNamespace: matrix
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  components:
    - ../../../../components/volsync
    - ../../../../components/dragonfly
  path: ./kubernetes/apps/matrix/synapse/app
  dependsOn:
    - name: rook-ceph-cluster
      namespace: flux-system
    - name: external-secrets-stores
      namespace: external-secrets
    - name: envoy-gateway
      namespace: flux-system
    - name: dragonfly
      namespace: flux-system
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
  interval: 1h
  retryInterval: 2m
  timeout: 5m
  postBuild:
    substitute:
      APP: *app
      VOLSYNC_CAPACITY: 50Gi
      DRAGONFLY_ARGS_DEFAULT_LUA_FLAGS: allow-undeclared-keys
