---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app rustical
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: *app
  values:
    defaultPodOptions:
      securityContext:
        runAsUser: "${APP_UID}"
        runAsGroup: "${APP_GID}"
        runAsNonRoot: true
        fsGroup: "${APP_GID}"
        fsGroupChangePolicy: "OnRootMismatch"

    controllers:
      rustical :
        containers:
          app:
            image:
              repository: ghcr.io/lennart-k/rustical
              tag: 0.10.2@sha256:3b866062159c5f43a0f5084e851aaa5132e554337793bd21a26287688e48c507

            envFrom:
              - secretRef:
                  name: rustical-secret

            probes:
              liveness:
                enabled: true
                type: HTTP
              readiness:
                enabled: true
                type: HTTP
              startup:
                enabled: true
                type: HTTP

            resources:
              requests:
                memory: 250Mi
                cpu: 50m
              limits:
                memory: 500Mi


    service:
      app:
        controller: *app
        ports:
          http:
            port: 80
            targetPort: 4000

    route:
      app:
        hostnames: [ "{{ .Release.Name }}.${SECRET_DOMAIN}" ]
        parentRefs:
          - name: external
            namespace: network

    persistence:
      data:
        existingClaim: *app
        globalMounts:
          - path: /var/lib/rustical
