---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./externalsecret.yaml
  - ./helmrelease.yaml
  - ./podmonitor.yaml
  - ./prometheusrule.yaml
  - ./grafanadashboard.yaml
  - ./helmrepository.yaml
configMapGenerator:
  - name: mas-synapse-config
    files:
      - mas_config.yaml=./resources/mas_config.yaml
generatorOptions:
  disableNameSuffixHash: true
