---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app open-webui
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: *app
  values:
    controllers:
      open-webui:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/open-webui/open-webui
              tag: 0.7.2@sha256:16d9a3615b45f14a0c89f7ad7a3bf151f923ed32c2e68f9204eb17d1ce40774b

            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}"

            resources:
              requests:
                cpu: 500m
              limits:
                memory: 2Gi

    service:
      app:
        ports:
          http:
            port: 8080

    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |-
            group: AI
        hostnames:
          - "ai.${SECRET_DOMAIN}"
        parentRefs:
          - name: external
            namespace: network

    persistence:
      config:
        enabled: true
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /app/backend/data
